<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Technologies:</strong>
    <%= project.technologies %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= project.role %>
  </p>

  <p>
    <strong>Challenges:</strong>
    <%= project.challenges %>
  </p>

  <p>
    <strong>Live link:</strong>
    <%= project.live_link %>
  </p>

  <p>
    <strong>Source code link:</strong>
    <%= project.source_code_link %>
  </p>

</div>
