<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'header', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lucida+Console&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <header class="header">
    <div class="header__content">
      <div class="header__photo-container">
        <img src="<%= asset_path('myphoto.png') %>" alt="Your Logo" class="header__photo" />
        <h2 class="header__title">Nicole McInerney</h2>
      </div>
      <nav class="header__main">
        <ul class="header__links">
          <li class="header__link-wrapper">
            <%= link_to 'Home', root_path, class: 'header__link' %>
          </li>
          <li class="header__link-wrapper">
            <%= link_to 'About', about_path, class: 'header__link' %>
          </li>
          <li class="header__link-wrapper">
            <%= link_to 'Projects', projects_path, class: 'header__link' %>
          </li>
          <li class="header__link-wrapper">
            <%= link_to 'Contact', contact_path, class: 'header__link' %>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="sidebar">
    <ul class="sidebar__links">
      <li class="sidebar__link-wrapper">
        <a href="https://www.linkedin.com" target="_blank" class="sidebar__link">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="sidebar__link-wrapper">
        <a href="https://www.twitter.com" target="_blank" class="sidebar__link">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="sidebar__link-wrapper">
        <a href="https://www.youtube.com" target="_blank" class="sidebar__link">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li class="sidebar__link-wrapper">
        <a href="https://www.github.com" target="_blank" class="sidebar__link">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="sidebar__link-wrapper">
        <a href="https://www.medium.com" target="_blank" class="sidebar__link">
          <i class="fab fa-medium"></i>
        </a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
