<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>MyPortfolio</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

  <header class="header">
  <div class="header__content flex">
    <div class="header__logo-container flex">
      <img src="path/to/your/logo.jpg" alt="Your Logo" class="header__logo" />
      <h1 class="header__title">Nicole McInerney</h1>
    </div>
    <nav class="header__main">
      <ul class="header__links">
        <li class="header__link-wrapper">
          <%= link_to 'Home', root_path, class: 'header__link' %>
        </li>
        <li class="header__link-wrapper">
          <%= link_to 'About', about_path, class: 'header__link' %>
        </li>
        <li class="header__link-wrapper">
          <%= link_to 'Projects', projects_path, class: 'header__link' %>
        </li>
        <li class="header__link-wrapper">
          <%= link_to 'Contact', contact_path, class: 'header__link' %>
        </li>
      </ul>
    </nav>
  </div>
</header>


  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
